<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-center" *ngIf="getProblemSetItemValue">
        <div class="row m-0 p-0 color-white p-3 w-100">

            <div class="col-12 m-0 p-0 text-size-1-5rem mb-3">
                <i class="bi bi-patch-question"></i>
                <div class="d-inline ms-2">{{getProblemSetItemValue.problem_set_name}}</div>
            </div>

            <div class="col-12 m-0 p-0 text-size-1-2rem mb-3">
                <div class="d-inline">{{getProblemSetItemValue.problem_set_description}}</div>
            </div>

            <div class="col-12 m-0 p-0 d-flex justify-content-between flex-wrap">
                <button class="background-color-b color-white mb-3"
                    *ngIf="getProblemSetItemValue.isMyProblemSet || getProblemSetItemValue.isSubscribe"
                    (click)="recordPage()">
                    <div class="d-inline pe-2">Record</div>
                    <i class="bi bi-card-checklist"></i>
                </button>

                <button class="background-color-b color-white mb-3"
                    *ngIf="!getProblemSetItemValue.isMyProblemSet && !getProblemSetItemValue.isSubscribe"
                    (click)="SubscribeProblemSet()">
                    <div class="d-inline pe-2">Subscribe problem set</div>
                    <i class="bi bi-bookmark-plus"></i>
                </button>

                <button class="background-color-b color-white mb-3"
                    *ngIf="!getProblemSetItemValue.isMyProblemSet && getProblemSetItemValue.isSubscribe"
                    (click)="UnsubscribeProblemSet()">
                    <div class="d-inline pe-2">Unsubscribe problem set</div>
                    <i class="bi bi-bookmark-dash"></i>
                </button>
            </div>

            <div class="col-12 m-0 p-0">
                <hr class="w-100">
            </div>

            <div class="col-12 m-0 p-0">
                <div class="container-fluid m-0 p-0">
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 pb-2">
                            <div class="d-inline">Total number of questions :</div>
                        </div>
                        <div class="col-12 m-0 p-0 pb-2">
                            <div class="">{{getProblemSetItemValue.questionListCount}}</div>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 pb-2">
                            <div class="">Select number of questions :</div>
                        </div>
                        <div class="col-12 m-0 p-0 pb-2">
                            <div class="col-12 m-0 p-0 pb-2">
                                <input type="radio" name="TotalNumberOfQuestions" value="all"
                                    [(ngModel)]="setProblemSet" (change)="onSetProblemSetChange()"> All
                            </div>
                            <div class="col-12 m-0 p-0 pb-2">
                                <input type="radio" name="TotalNumberOfQuestions" value="numset"
                                    [(ngModel)]="setProblemSet" (change)="onSetProblemSetChange()"> Number of randomly
                                selected questions
                            </div>
                            <div *ngIf="setProblemSet=='numset'">
                                <input class="background-color-a" type="number" [(ngModel)]="setProblemNumber"
                                    (change)="onSetProblemNumber()">
                            </div>
                        </div>
                        <div class="col-12 m-0 p-0 pb-2">
                            <!-- routerLink="/home/active-page" vvv-->
                            <button class="background-color-b color-white" (click)="startProblemSet()"
                                routerLink="/home/active-page/answer-problem-set">
                                Start
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>