.login-logo-icon {
    font-size: 50px;
}

.login-logo-text {
    font-size: 50px;
}

.login-bg {
    border-radius: 15px;
    padding: 15px;
    width: 20rem;
}

.login-input-bg {
    width: 13rem;
}
